<h1>{{title}}</h1>
<script>todaysDate = new Date();</script>
<div id="bookWrapper">
    <h1>Make a Booking</h1>
    <div id="searchController">
        <form method="get" action="/getSpaces">
            <input type="submit" name="day" id="day" class="buttons" value="Today">
        </form>
        <form method="get" action="/getSpaces">
            <input type="submit" name="day" id="day" class="buttons" value="Tomorrow">
        </form>
        <form method="get" action="/getSpaces">
            <input type="submit" name="day" id="thirdDayButton" class="buttons" value="">
        </form>

    </div>

    <form>
        <table>
            <tr>
            <td>
                Space:
            </td>
                <td>
                    <select>
                        {{# each spaces}}
                        <option>{{this.spaceID}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Date:
                </td>
                <td>
                    <select>
                        <option>
                            <script>document.write(todaysDate.getDate().toString() + "/" + (todaysDate.getMonth()+1).toString() + "/" + todaysDate.getFullYear().toString());</script>
                        </option>
                        <option>
                            <script>document.write((todaysDate.getDate().toString()+1) + "/" + (todaysDate.getMonth()+1).toString() + "/" + todaysDate.getFullYear().toString());</script>
                        </option>
                        <option>
                            <script>document.write((todaysDate.getDate().toString()+2) + "/" + (todaysDate.getMonth()+1).toString() + "/" + todaysDate.getFullYear().toString());</script>
                        </option>
                    </select>
                </td>
            </tr>
        </table>
    </form>


    <div id="bookSelection" class="bookSelection">
        <table>
            <tr>
                <td>Space Number:</td>
                <td id="spaceNumber"></td>
            </tr>
            <tr>
                <td>Floor:</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td id="date"></td>
            </tr>
            <tr>
                <td>From:</td>
                <td id="timeFrom"></td>
            </tr>
            <tr>
                <td>Length:</td>
                <td>
                    <select id="hours" name="hours">

                    </select>
                    hours
                </td>
            </tr>
            <tr><td><button type="submit" class="buttons">Confirm</button></td></tr>
        </table>
    </div>


    <div id="resultsWrapper">
        <br>
    <table>
        <tr>
            <th>Space</th>
            <th>Type</th>
            <th>7:00</th>
            <th>8:00</th>
            <th>9:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>
            <th>13:00</th>
            <th>14:00</th>
            <th>15:00</th>
            <th>16:00</th>
            <th>17:00</th>
            <th>18:00</th>
            <th>19:00</th>
            <th>20:00</th>
            <th>21:00</th>
            <th>22:00</th>


        </tr>
        {{# each spaces }}
            <tr>
                <td>{{ this.spaceID }} </td>
                <td>{{this.spaceType }} </td>
            </tr>
        {{/each }}

    </table>
    </div>
</div>

<script>

    var thirdDay = new Date();

    thirdDay.setDate(thirdDay.getDate() + 2);
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    document.getElementById("thirdDayButton").value = days[thirdDay.getDay()];

    var day = document.getElementById("selectedDay").value;
    if (day.trim() == "Today") {
        setCurrentButton("todayButton");
    }
    else if (day.trim() == "Tomorrow") {
        setCurrentButton("tomorrowButton");
    }
    else {
        setCurrentButton("thirdDayButton");
    }

    function setDay(selectedDay) {
        document.getElementById("selectedDay").value = selectedDay;
    }

    function setCurrentButton(currDay) {
        document.getElementById(currDay).style.border = "solid #0f4beb";
        document.getElementById(currDay).style.background = "#ffffff";
        document.getElementById(currDay).style.color = "#0f4beb";
    }

    function bookIn(space, hour, count) {

        document.getElementById("bookSelection").style.display = "block";

        var date = new Date();
        var dateFormatted = date.getDate() + "/" + (date.getMonth()+1).toString() + "/" + date.getFullYear().toString();

        document.getElementById("spaceNumber").innerHTML = space;
        document.getElementById("date").innerHTML = dateFormatted;
        document.getElementById("timeFrom").innerHTML = hour+":00";

        var hourOptions = document.getElementById("hours");

        for (itr = 0; itr < hourOptions.options.length; itr++) {
            hourOptions.options[itr] = null;
        }

        for (var i = 1; i <= count; i++){
            var option = document.createElement("option");
            option.text = i.toString();
            hourOptions.add(option);
        }

    }

</script>
