<div class="contentContainer">
<h1>Dashboard</h1>
<!--
<div class = "board">
  <h1>Note</h1>
  <p>By entering the UTS Car Park, you(together with any passengers) agree to our conditions and terms. </p>
  <p>The parking pay rate:</p>
  <table>
    <tr>
      <td> </td>
      <td>Mon-Fri</td>
      <td>Sat-Sun</td>
    </tr>
    <tr>
      <td>0-2 hours</td>
      <td>$10/h</td>
      <td>$15/h</td>
    </tr>
    <tr>
      <td>3-8 hours</td>
      <td>$8/h</td>
      <td>$12/h</td>
    </tr>
    <tr>
      <td>8-12 hours</td>
      <td>$60/day</td>
      <td>$90/day</td>
    </tr>
  </table>
</div>
-->

<br><br>
{{# bookings}}
<div class="dashboardCards">
    <div>
        <table class="dashboardCardsTable">
            <tr>
                <th>Space</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{this.spaceID}}</td>
                <td>{{this.timeFrom}}:00</td>
                <td>{{this.timeTo}}:00</td>
                <td>{{this.date}}</td>
            </tr>
        </table>
    </div>
</div>
{{/bookings}}

</div>