
    <div id="loginWrapper">
        <h1>UTS Parking</h1>
        <form action="/login.jsp">
            <input type="text" onclick="this.value='';" name="userID" value="  UTS Staff / Student ID">
            <br>
            <input type="password" onclick="this.value='';" name="password" value=" Password">
            <br>
            <a href="dashboard.jsp" class="buttonUTS">Login</a>
        </form>
    </div>
