<!DOCTYPE html>
<html>
<head>
    <title>UTS Smart Parking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <a href="index"><img src="images/UTSlogo.png" alt="UTS logo" height="100"></a>
</div>

<div id="loginWrapper">
    <h1>UTS Parking</h1>
    <div id="loginAlert">{{{ status }}}</div>
    <form action="/login" method="post">
        <input type="text" onclick="this.value='';" id="userID" name="userID" class="loginInput" value="  UTS Staff / Student ID">
        <br>
        <input onclick="this.value='';" id="password" name="password" class="loginInput" value=" Password">
        <br>
        <button type="submit" class="buttonUTS"></button>
    </form>
</div>

{{{ yo }}}

<div class="footer">
</div>
</body>
</html>
