<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="utilities/funcs.js"></script>
  </head>
  <body onload="highLightNav({{ind}})">
  <div class="header">
      <a href="index"><img src="images/UTSlogo.png" alt="UTS logo" height="100"></a>
  </div>
    <div class="nav" id="myTopNav">
        <a href="dashboard">Home</a>
        <a href="bookSpace">Book Space</a>
        <a href="bookings">Bookings</a>
        <a href="manageUsers">Manage Users</a>
        <a href="account">Account</a>
        <a href="javascript:void(0);" class="icon" onclick="HideAndShowNav()">
            <i class="fa fa-bars"></i>
            </a>
    </div>
    {{{body}}}

  <div class="footer">
    {{{footer}}}
  </div>
  </body>
</html>
