<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div class="header">
      <a href="index"><img src="images/UTSlogo.png" alt="UTS logo" height="100"></a>
  </div>
    <div class="nav">
          <ul>
              <li><a href="bookSpace">Book Space</a></li>
              <li><a href="bookings">Bookings</a></li>
              <li><a href="manageUsers">Manage Users</a></li>
              <li><a href="account">Account</a></li>
          </ul>
    </div>
    {{{body}}}

  <div class="footer">
  </div>
  </body>
</html>
