<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="./public/utilities/funcs.js"></script>
  </head>
  <body>
  <div class="header">
      <a href="index"><img src="images/UTSlogo.png" alt="UTS logo" height="100"></a>
  </div>
    <div class="nav" id="myTopNav">
      <ul>
        <li><a href="bookSpace" class="active">Book Space</a></li>
        <li><a href="bookings">Bookings</a></li>
        <li><a href="manageUsers">Manage Users</a></li>
        <li><a href="account">Account</a></li>
        <li><a href="javascript:void(0);" class="icon" onclick="hideNav()">
            <i class="fa fa-bars"></i>
            </a></li>
      </ul>
    </div>
    {{{body}}}

  <div class="footer">
  </div>
  </body>
</html>
