<!DOCTYPE html>
<html>
<head>
    <title>UTS Smart Parking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="payWrapper">
    <h1>Payment portal</h1>
    <div id="payment message">
        Payment will be handled by paypal as it is secure and allows the service to accept many payment methods.
        <br>
        This page is for test environment only.
        <p>
        Please select the desired payment outcome:

        <a href="#">Payment Failed</a><br>
        <a href="#">Payment Succeeded</a>
        </p>
    </div>

</div>

<div class="footer">
</div>
</body>
</html>