body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  background-color:white;
  width: 100%;
}

/** ================ **/
/** Navigation class **/
.nav{
  overflow: hidden;
  background-color: black;
}

.nav a{
  float:left;
  display:block;
  color:white;
  text-align: center;
  padding:25px 40px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #DDD;
  color: black;
}

.active{
  background-color: blue;
  color: white;
}

.nav .icon{
  display: none;
}

@media screen and (max-width: 1010px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1010px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/** Navigation class **/
/** ================ **/

.loginInput {
  width: 430px;
  margin: 10px;
  height: 80px;
  font-size: 30px;
}

#loginWrapper {
  text-align: center;
}

.buttonUTS {
  background-color: #0f4beb;
  border: none;
  color: white;
  padding: 25px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.buttons {
  background-color: #0f4beb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  height: 60px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  width: 10px;
  height: 20px;
}

#loginAlert{
  color:red;
}

.bookSelection {
  border: 1px;
  border-color: lightgrey;
  display: none;
  width: 500px;
}

.true {
  background-color: lightslategrey;
}

.false {
  background-color: aquamarine;
}

/*
.footer {
  background-color: black;
  margin: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
*/
